# Rails
/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep
/public/assets
/config/*.key
/app/assets/builds/*
!/app/assets/builds/.keep

# Node / React
/node_modules
/yarn-error.log

# Environment files
.env*
.env.local
.env.development
.env.test

# macOS
.DS_Store
